.home_template {
  padding: 0 1.5rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;
  scrollbar-color: dark;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--gray-800);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray-900);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-500);
  }
}
