.episode_details {
  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--gray-100);
    font-size: 0.875rem;
  }

  .image {
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
  }

  .dataEpisode {
    width: 110px;
  }

  .memberEpisode {
    font-size: 0.75rem;
  }

  .title {
    color: var(--gray-500);
    font-family: Lexend, sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
