.headerContainer {
    background-color: var(--gray-900);
    height: 6.5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--gray-500);
}
